<!DOCTYPE html>
<html>

<head>
  <title>
    The Dark Web
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous" />
  <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body>
  <section class="hero is-dark is-fullheight">
    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item is-logo-fullsize is-active" href="../">
              <img src="images/logo.png" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroC">
              <span></span>
            <span></span>
            <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active" href="/">
                Home
              </a>
              <a class="navbar-item is-active" href="/levels/1">
                Level 1
              </a>
              <a class="navbar-item is-active" href="/levels/2">
                Level 2
              </a>
              <a class="navbar-item is-active" href="/levels/3">
                Level 3
              </a>
              <a class="navbar-item is-active" href="/levels/4">
                Level 4
              </a>
              <span class="navbar-item">
                <a class="button is-dark is-inverted" href="https://github.com/QSAKhan">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
              <span>Visit my Github!</span>
              </a>
              </span>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title" style="">
          The Layers of The Internet
        </h1>
        <hr style="background-color: grey; margin-bottom: 40px;" class="is-rainbow">
        <div class="columns">
          <div class="column">
            <h2 class="subtitle" style="margin: 0;">
              1st Level - Clearnet
            </h2>
            The first level of the internet is called the "clearnet". The clearnet is what you can see on your everyday website - for example YouTube, Facebook, Tumblr, Imgur and the list continues. The "big brothers" of this level is Google, Bing, Yahoo, Wikipedia
            and Quora.
            <div style="bottom: 0; padding-top: 95px;">
              <a class="button is-rainbow is-danger is-fullwidth is-active" href="/levels/1">Level 1</a>
            </div>
          </div>
          <div class="column">
            <h2 class="subtitle" style="margin: 0;">
              2nd Level - Deep Web
            </h2>
            The second level of the internet is what you can call the "deep web". This is where you can find things that are not indexed by search motors such as Google and Bing - most of these websites are using textfile called "robots.txt", which blocks "crawlers".
            <div style="padding-top: 95px; bottom: 0;">
              <a class="button is-rainbow is-danger is-fullwidth is-active" href="/levels/2">Level 2</a>
            </div>
          </div>
          <div class="column">
            <h2 class="subtitle" style="margin: 0;">
              3rd Level - Dark Net
            </h2>
            There is a misconception about the "dark net" (or "dark web"). Using a browser such as TOR is usually called being a gateway to the "dark net". This is not true, as there are multiple dark nets out there that can't be accessed with TOR. Most of these
            reside in cut off private networks that either need a VPN or physical access. TOR is just the tip of the iceberg.
            <div style="margin: 0; bottom: 0; padding-top: 24px;">
              <a class="button is-rainbow is-danger is-fullwidth is-active" href="/levels/3">Level 3</a>
            </div>
          </div>
          <div class="column">
            <h2 class="subtitle" style="margin: 0;">
              4th Level - Marianas Web
            </h2>
            This is where speculations and myths come to play. This is a part of the internet that is said to exist, but you need a polymorphic cryptographic method to be able to access it. Since a <b>polymorphic</b> cryptographic method cannot be guessed
            or determined, a reliable connection is almost impossible without showing outsiders your information.
            <div style="margin: 0; bottom: 0; padding-top: 24px;">
              <a class="button is-rainbow is-danger is-fullwidth is-active" href="/levels/4">Level 4</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</html>