<!DOCTYPE html>
<html>

<head>
  <title>
    The Dark Web : Deep Web
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" integrity="sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=" crossorigin="anonymous" />
  <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body>
  <section class="hero is-dark is-fullheight">
    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item is-logo-fullsize" href="../">
              <img src="../images/logo.png" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroC">
              <span></span>
            <span></span>
            <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active" href="/">
                Home
              </a>
              <a class="navbar-item is-active" href="/levels/1">
                Level 1
              </a>
              <a class="navbar-item is-active" href="/levels/2">
                Level 2
              </a>
              <a class="navbar-item is-active" href="/levels/3">
                Level 3
              </a>
              <a class="navbar-item is-active" href="/levels/4">
                Level 4
              </a>
              <span class="navbar-item">
                <a class="button is-dark is-inverted" href="https://github.com/QSAKhan">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
              <span>Visit my Github!</span>
              </a>
              </span>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title" style="">
          2nd Level - Deep Web
        </h1>
        <hr style="background-color: grey; margin-bottom: 40px;">
        <div class="column">
          <a imageanchor="1"><img align="right" src="../images/imagine.jpg" border="0"></a>
          <div class="rainbow-text">
            <p class="subtitle" style="margin: 0;">
              Imagine there is a large paragraph of text here
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</html>